---
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import Section from '../components/Section.astro';
import Footer from '../components/Footer.astro';
import Extra from '../components/Extra.astro';
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import Products from '../components/Products.astro';
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<section id="hero" class="section h-auto md:h-screen w-screen items-center justify-center flex  z-1 ">
		<Hero />
	</section>

	<section id="about" class="section bg-[var(--color-primary)] md:h-auto md:w-screen flex  z-0">
		<About />
	</section>

	<section id="section" class="section bg-cover bg-center bg-no-repeat h-auto w-screen flex items-center justify-center z-1">
		<Section />
	</section>

	<section id="banner" class="section md:w-screen z-1">
		<Banner />
	</section>

	<section id="section" class="section md:h-screen md:w-screen flex items-center justify-center z-1">
		<Products />
	</section>

	<section id="extra" class="section md:h-screen md:w-screen bg-[url('../background.svg')] flex z-1">
		<Extra />
	</section>
	
	<section id="footer" class="section bg-[var(--color-primary)] z-1">
		<Footer />
	</section>
	
	<button 
		onclick="window.scrollTo({ top: 0, behavior: 'smooth' })" 
		class="fixed bottom-4 right-4 border-1 border-[var(--color-secondary)] bg-[var(--color-primary)] text-[var(--color-secondary)] px-4 py-2 rounded-t-2xl shadow-lg z-20 hover:border-[var(--color-primary)] hover:bg-[var(--color-secondary)] hover:text-[var(--color-primary)] transition">
		↑
	</button>
</Layout>
