---
import WaveMiddle from "../components/WaveMiddle.astro";
---

<section class="bg-[var(--color-primary)] h-dvh">
    <WaveMiddle>
        <div class="flex flex-col-reverse md:grid md:grid-cols-2 h-dvh space-x-10 md:flex-row px-10 py-12 items-center justify-center w-full  mx-auto">
            <div class=" -mt-16 md:mt-0 text-[var(--color-accent)] md:text-[var(--color-background)]">
                <p class="text-xs md:text-sm xl:text-base 2xl:text-lg font-light tracking-[0.3em]">
                    About
                </p>
                <h1 class="text-3xl lg:text-4xl xl:text-6xl z-1 font-bold mb-4 border-b border-[var(--color-secundary)] pb-2">
                    More About This Page
                </h1>
                <p class="text-base md:text-lg xl:text-xl 2xl:text-2xl pb-2 md:pb-0 text-[var(--color-background)] font-light leading-relaxed">
                    This section provides additional information about the page. It demonstrates how to align content side by side using Tailwind CSS flex utilities.
                </p>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
                <div class="md:col-span-2">
                    <img class="rounded-lg shadow-lg w-full h-full object-cover" src="../image1.webp" alt="Main" />
                </div>

                <div class="hidden md:grid grid-cols-2 md:grid-cols-1 gap-3">
                    <img class="rounded-lg shadow-lg w-full h-full object-cover" src="../image2.webp" alt="Side 1" />
                    <img class="rounded-lg shadow-lg w-full h-full object-cover" src="../image3.webp" alt="Side 2" />
                </div>
            </div>
        </div>
        
    </WaveMiddle>
</section>

