<section class="flex flex-col md:flex-row h-full md:h-screen items-center justify-center mx-auto px-5 py-12 space-y-4 md:space-y-0">
    <div class="flex flex-col items-center justify-center md:items-start md:justify-start space-x-1">
        <h2 class="text-3xl font-bold text-[var(--color-primary)] mb-4">
            Why Choose Astro?
        </h2>
        <p class="text-sm md:text-lg text-[var(--color-secundary)] font-light text-star max-w-2xl py-2 pr-2">
            Astro is a modern static site generator that delivers lightning-fast performance by default. It allows you to use your favorite frameworks like React, Vue, or Svelte, while keeping the final output optimized for speed.
        </p>
        <div class="flex flex-wrap justify-center">
            <a href="/contact" class="bg-[var(--color-secondary)] text-[var(--color-background)] text-2xl bg-opacity-90 justify-items-center rounded-lg p-2 hover:-translate-y-1 hover:delay-150 hover:scale-110 hover:bg-[var(--color-primary)] hover:text-[var(--color-secondary)] hover:bg-opacity-100 transition duration-300 flex items-center gap-1">
                Contact
                <span>&rarr;</span>
            </a>
        </div>
    </div>
    <div class="flex justify-center">
        <iframe class="w-full h-[180px] md:w-[560px] md:h-[315px] rounded-lg shadow-lg" src="https://www.youtube.com/embed/dsTXcSeAZq8?si=M3bvOXbZ0wYBo5yg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
</section>

    